body {
    background-image: url("../images/ict-background.jpg");
    background-size: cover;
}

#main-header {
  text-align: center;
  color: white;
  width: 100%;
  height: 50px;
  font-family: anudrg;
  font-size: 60px;
  text-shadow: 10px 10px black;
  top: 40px;
  position: relative;
}

.container {
    margin: 130px auto 0 auto;
    width: 80%;
    align-items: center;
}

.p-30 {
   width: 30%;
}

#main-container {
  width: 450px;
  height: 375px;
  background: blue;
  padding: 17px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  top: 100px;
}

.vaultContainer {
    width: 400px;
    height: 325px;
    background: white;
    padding: 17px;
    border-radius: 10px;
    position: absolute;
    margin-top: -120px;
    margin-left: -150px;
}

.vaultContainer .light {
    background: black;
    width: 200px;
    float: left;
    height: 20px;
}

.vaultContainer .light.red {
    background: darkred;
    filter: brightness(40%);
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.vaultContainer .light.green {
    background: darkgreen;
    filter: brightness(40%);
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.vaultContainer .light.blink {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.clearfix {
    clear: both;
}

.entered-code {
    color: blue;
    text-align: center;
    font-size: 60px;
    font-family: rockwell;
    margin: 10px auto;
    background: black;
    width: 400px;
    height: 80px;
    border-radius: 10px;
}

.buttons-hack {
    width: 100%;
}

.vault-buttons > button {
  background: #0066ff;
  cursor: pointer;
  color: white;
  font-family: rockwell;
  width: 121px;
  height: 70px;
  border: white 1px solid;
  margin: 3px;
  border-radius: 10px;
  font-size: 40px;
}

.vault-buttons > button:hover{
  background: #0066ff;
  cursor: pointer;
  color: white;
  font-family: rockwell;
  width: 121px;
  height: 70px;
  border: white 1px solid;
  margin: 3px;
  border-radius: 10px;
  font-size: 40px;
  transform: scale(1.1);
  background-color: blue;
}

.vault-notif {
    color: blue;
    font-family: rockwell;
    text-align: center;
    font-size: 20px;
}

@font-face {
  font-family: 'anudrg';
  src: url('../fonts/anudrg-webfont.woff2') format('woff2'), url('../fonts/anudrg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

bounce : .text {
  text-align: center;
  margin-top: 56px;
  color: white;
  font-size: 1.0em;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce1 {
  animation-name: bounce;
  position: relative;
  top: 180px;
  float: left;
  left: 200px;
  font-family: anudrg;
  margin: 0 auto;
  text-align: center;
}

.bounce2 {
  animation-name: bounce;

  position: relative;
  top: 200px;
  float: left;
  left: 1000px;
  font-family: anudrg;
  margin: 0 auto;
  text-align: center;
}

.text animated bounce1 {
  margin: 0 auto;
}
